{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Student Registration</h3>

<form method="POST">

    <input type="email" name="email" class="form-control mb-2" placeholder="Email" required>
    <input type="password" name="password" class="form-control mb-2" placeholder="Password" required>

    <input type="text" name="full_name" class="form-control mb-2" placeholder="Full Name" required>

    <input type="number" step="0.01" name="cgpa" class="form-control mb-3" placeholder="CGPA">

    <button class="btn btn-primary w-100">Register</button>

</form>

{% endblock %}